body {
background-color:#fff;
}

#page {
background-color:#fff;
}


#site-name {
display:none;
}

#site-header {
background-color:#582B8A;
height:90px;
}

#logo {
margin-top:10px;
}

#menu-top {
background-color:#A8A9AD;
}

#site-menu {
margin-top:30px;
}

#site-menu ul li {
border-left:solid 1px #fff;
}

#site-menu ul li:first-child {
border-left:none;
}

#site-menu a {
color:#fff;
text-decoration:none;
}

#search {
width:150px;
padding:0px;
}

#search-theme-form .container-inline {
}

/*
#search .send-button {
padding:0px;
margin:0px;
}

#search .txtSearch {
border:solid 1px #ccc;
padding:0px;
margin:0px;
}
*/

/*top-menus*/


.top-menu-left {
color:#fff;
font-weight:bold;

}

.top-menu-right {

}

/*footer*/

#footer {
background-color:#582B8A;
height:60px;
color:#fff;
}

#footer #footer-message {
margin-top:20px;
}

/*icons*/


/*
ul.icons {
overflow:auto;
}
*/

ul.icons li {
float:left;
list-style-type:none;
margin-left:0.5em;
}


ul.icons li a, ul.icons li img {

}


/*columnas*/
#column-left, #column-right {
padding-top:1em;
}


#column-left h1, #column-right h1 {
color:#582B8A;
font-size:1.5em;
font-weight:bold;
margin-bottom:0px;
padding-left:1em;
border-top:solid 2px #ccc;
border-right:solid 2px #ccc;
border-left:solid 2px #ccc;
border-bottom:solid 2px #ccc;
-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}


/*
#column-right .view,  #column-left .view {
border-left:solid 2px #ccc;
border-right:solid 2px #ccc;
padding-top:1em;
border-bottom:solid 2px #ccc;
}
*/

/*slideshow*/

#slideshow {
height:260px;
background:url('../images/grey_pattern.jpg');
}

#slideshow-pager {
background:url('../images/grey_pattern.jpg');
height:30px;
}

#nav a {
margin-left:1em;
background:url('../images/pager_button.png') no-repeat 100% 100%;
overflow:auto;
text-decoration:none;
color:#fff;
font-weight:bold;
padding:7px 14px 7px 7px;
}

#slideshow .views-field-field-foto-fid {
float:right;
}

#slideshow .slideshow-home  .view-content .views-row {
clear:both;
height:228px;
}

#slideshow .slideshow-home  .view-content .views-row .views-field-title {
padding:20px 0px 20px 20px;
}

#slideshow .slideshow-home  .view-content .views-row .views-field-teaser {
padding:0px 0px 20px 20px;
}

#slideshow .slideshow-home  .view-content .views-row .views-field-title a {
text-decoration:none;
color:#582B8A;
font-size:1.5em;
line-height:0.2em;
font-weight:bold;
}


/*breadcrumb*/

#breadcrumb .breadcrumb {
padding: 5px 0px 0px 5px;
}

#breadcrumb .breadcrumb a {
text-decoration:none;
color:#582B8A;
}

/*menu principal*/

#menu-principal {
background:url('../images/grey_pattern.jpg');
padding:5px 0px;
}

#menu-principal .menu-principal {
float:right;
margin-right:10px;
}

#menu-principal .menu-principal a {
text-decoration:none;
color:#454545;
}

#menu-principal .menu-principal a:hover {
text-decoration:none;
color:#666;
}

